*{
    margin: 0;
    padding: 0;
}
#id_matricularse{
    padding: 5%;
}
.centrar{
    display: flex;
}
fieldset{
    padding: 15px;
    width: 50%;
    margin: 0 2%;
}
legend{
    font-size: 200%;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
label, .error{
    font-family: 'Courier New', Courier, monospace;
}
input[type="text"], input[type="password"]{
    border: none;
    border-bottom: 1px solid;
}
textarea{
    width: 350px;
    height: 150px;
}
input[type="submit"]{
    padding: 5px;
    transition: all 0.5s;
    width: 100%;
    font-size: 130%;
    background-color: black;
    color: white;
    border: 0px;
}
input[type="submit"]:hover{
    cursor: pointer;
    background-color: gray;
}
.error {
    color: red;
    font-size: 15px;
    margin-left: 5px;
}